__pycache__/
*.py[cod]
*.sqlite3
.env
venv/
staticfiles/
.pytest_cache/
.Python
*.log
*.pot
*.py,cover
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.cache/
build/
dist/
*.egg-info/
media/
Thumbs.db
Desktop.ini
render-build.log
